@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(-100px);
        scale: 0.9;
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
        scale: 1;
    }
}

html{
    height: 100%;
}
body{
    background: linear-gradient(160deg, rgba(38,235,114,1) 0%, rgba(38,149,239,1) 50%, rgba(222,92,255,1) 100%);
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0px;
}

#loginModal{
    background-color: white;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    text-align: center;
    max-height: calc(100% - 16px);
    overflow: auto;
    animation: fade-in 800ms ease-out;
}